@charset "utf-8";

/*
- tekstkleur: #665950
- linkKleur: #4C86CF
- linkHover: #058
- achtergrondBleek: #FCFAF8
- achtergrondDonker: #EBE8E5
- achtergrondGroen: #8FB209
- borderGrijs: #DCDAD8
- headingGroen: #7ea107
- headingDonker: #52463f
- headingPaars: #9A3098
- code: #8B1C00
- img rand: #E9DCE9
*/


/* ALGEMEEN TYPOGRAFIE*/

body {
    font: small Arial, sans-serif;
}

a {
    font-weight: bold;
}

a,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

em {
    font-style: normal;
    font-weight: bold;
}

h1 {
    margin: 0.5em 0 0.1em;
    font-size: 4.5em;
    color: #7ea107;
}

h2 {
    text-align: left;
    font-size: 1.7em;
    color: #7ea107;
}

.schuin {
    font-style: italic;
}


/* ALGEMEEN KLEUREN */

body {
    background: #FCFAF8;
    color: #665950;
}

a {
    color: #4C86CF;
}

a:hover,
a:active {
    color: #058;
}

em {
    color: #9A3098;
}

code {
    color: #8B1C00;
}

.topbanner {
    background-color: #8FB209;
    color: #FFF
}

.borderlijn {
    background-color: #DCDAD8;
}

.button {
    background-color: #6C9500;
    color: #FFF;
    border: solid 1px #3D7500;
}

.paars {
    color: #9A3098;
}

.achtergronddonker {
    background-color: #EBE8E5;
}

.achtergrondbleek {
    background-color: #FCFAF8;
}


/* STRUCTUUR ALGEMEEN */

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

a img {
    border: 0;
}

article {
    width: 33.33%;
    float: left;
    padding-right: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article:last-child {
    padding-right: 0;
}

label {
    width: 10em;
    display: block;
    float: left;
}

.labelCheckbox {
    width: 30em;
    display: block;
    float: left;
}

.wrapper_auto {
    width: 80%;
    margin: 0 auto 0;
    overflow: auto;
    padding: 0;
}

.wrapper_visible {
    width: 80%;
    margin: 0 auto 0;
    overflow: visible;
    padding: 0;
}

.borderlijn {
    height: 0.1em;
}

.vlotLinks {
    float: left;
}

.vlotRechts {
    float: right;
}

.roteerLinks {
    transform: rotate(-7deg);
}

.roteerRechts {
    transform: rotate(7deg);
}

.dikkeSchaduw {
    border: solid 10px #E9DCE9;
    box-shadow: 0 1em 1em rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1em 1em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, .5);
}

.topbanner label {
    float: none;
    display: inline;
}


/* HEADER TYPOGRAFIE */

header h3 {
    font-size: 1.1em;
}

header a {
    font-size: 1.2em;
}

header form {
    font-size: 0.9em;
}


/* HEADER KLEUREN */

header li {
    color: #665950;
    border-right: 1px solid #E4F0F3;
}

header a {
    color: #665950;
}


/* HEADER STRUCTUUR */

header h3 {
    margin: 0.2em 0;
}

header ul {
    padding: 0;
    list-style: none;
    margin-top: 5.5em;
}

header li {
    display: inline;
    margin: 0 1em 0 0;
    padding-right: 1em;
}

header li:last-child {
    border-right: 0px solid;
    margin: 0;
}

header nav {
    float: right;
}

header form {
    float: right;
    clear: right;
}

header form fieldset {
    border: 0;
}

header form legend {
    display: none;
}

#logo img {
    float: left;
    margin: 0;
    padding: 1em 0;
    width: 10em;
}


/* HOME */

#web_ontwikkelaar {
    color: #52463f;
}

#web_ontwikkelaar h2 {
    font-size: 2em;
    font-style: italic;
}

#web_ontwikkelaar h3 {
    font-size: 1.5em;
}

#web_ontwikkelaar p {
    font-size: 1.2em;
}

#web_ontwikkelaar img {
    border: solid #E9DCE9 6px;
    float: right;
    width: 27em;
    margin: 1em 0 0.5em 1em;
}

#waarom {
    padding-bottom: 1em;
}

#waarom h2 {
    font-size: 1.8em;
    margin-left: 10em;
}

#waarom p {
    font-size: 1.4em;
    margin-left: 13em;
}

#waarom img {
    float: left;
    position: absolute;
    margin-top: -3em;
    margin-right: 2em;
    width: 15em;
    border: solid 6px #E9DCE9;
}

#waarom ul {
    padding: 1%;
    margin: 1%;
    list-style-image: url(../img/check.png);
}

#waarom li {
    margin: 0 0 0 3%;
    font-size: 1.2em;
    padding: 0.5%;
    float: left;
    width: 29%;
    color: #665950;
}

#nieuws {
    text-align: right;
    font-size: 1.15em;
}

#nieuws h3 {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
}

#nieuws article {
    text-align: left;
}

#nieuws img {
    width: 6em;
    float: right;
}


/*
clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/

.clearFix:before,
.clearFix:after {
    content: " ";
    display: table;
}

.clearFix:after {
    clear: both;
}


/* enkel voor IE6/7 */

.clearFix {
    *zoom: 1;
}